/********************************************************************
*** GLOBALS
*********************************************************************/
html, body{

	

}

a{
	
}

h1, h2, h3, h4, h5, h6{
	
}

#site_wrap{
	
}

#mobile_menu{

	

	ul{

		

		li{

			

			a{
				
			}

			ul{
				
			}

		}

	}

}

#mobile_header{

	

	#mobile_menu_toggle{

		

		svg{
			
		}

	}

	#mobile_site_title{
		
	}

}

.site_header{

	

	#header_overlay_color{
		
	}

	.wrap{
		
	}

	
	#logo_wrap{

		#logo{

			

			img{
				
			}

		}

	}

	#header_nav{  }

	#page_title{

		

	}

	

}

.page_section{

	padding: 40px 0;

	.wrap{}

}

/*************************************
MUSIC/ALBUMS
*************************************/
.music_section{

	.wrap{}

	header.section_header{}

	.album{

		margin-bottom: 40px;

		&:last-child{
			
		}

		.soundcloud_embed{

			iframe{
				
			}

		}

		.album_info_wrapper{

			.album_info{

				.album_type{
					
				}
				.album_title{
					
				}
				.album_description{

					& > :first-child{  }
					& > :last-child{  }
					p{

					}

				}
				.album_button{
					
				}

			}

		}

	}

}


/*************************************
SHOWS
*************************************/
.shows_section{

	

}
table.tour_dates{

	tr{

		td{
			
		}

		td.date{

			

			.month, .day{
				
			}
			.month{
				
			}
			.day{
				
			}

			/*&:after{
				content: "";
				border-right: solid 1px $textColor;
				width: 1px;
				position: absolute;
				right: 0;
				top: 10px;
				bottom: 10px;
			}*/

		}
		td.location{

			

			a{
				
			}

			.venue, .city{
				
			}
			.venue{

			}
			.city{

			}

		}
		td.tickets{

			

		}
		td.rsvp{
			display: table-cell;
			text-align: right;
		}

	}

}

/*************************************
VIDEOS
*************************************/
.videos_section{

	

	.wrap{}

	.section_header{
		
	}

	.video_embed{
		
	}

}

/*************************************
PHOTOS SECTION
*************************************/
.photos_section{

	.wrap{}

	.section_header{}

}
.photo_gallery{

	ul{

		

		li{

			

			a{

				

				&:hover{
					
				}

			}
			img{
				
			}

		}

	}

}

/*************************************
TEXT SECTION
*************************************/
.text_section{

	.wrap{}
	.section_header{

	}

	.text_content{

		font-size: 1.25em;

		& > :first-child{}
		& > :last-child{}

		p{

		}

	}

}


/*************************************
FOOTER
*************************************/
.site_footer{

	padding: 60px 0;

	.wrap{}

	.credits{

	}

}
.mailing_list{

	padding: 0 0 60px 0;

	.mailing_list_title, form{
		
	}

	.mailing_list_title{
		
	}

	form{

		

		input{
			
		}
		input[type="text"]{
			
		}
		input[type="submit"]{

			

			&:hover{
				
			}

		}

		::-webkit-input-placeholder {}
		:-moz-placeholder {}
		::-moz-placeholder {}
		:-ms-input-placeholder {}

	}
		
}
.social_links{

	ul{

		

		li{

			

			a{

				

				svg{

					

					path{

						

					}

				}

			}
			a:hover path{}

		}

	}

}