@font-face {
	font-family: 'myousic-icons';
	src:url('../fonts/myousic-icons/myousic-icons.eot?-gzl2gn');
	src:url('../fonts/myousic-icons/myousic-icons.eot?#iefix-gzl2gn') format('embedded-opentype'),
		url('../fonts/myousic-icons/myousic-icons.woff?-gzl2gn') format('woff'),
		url('../fonts/myousic-icons/myousic-icons.ttf?-gzl2gn') format('truetype'),
		url('../fonts/myousic-icons/myousic-icons.svg?-gzl2gn#myousic-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'myousic-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bandcamp:before {
	content: "\e612";
}
.icon-flickr:before {
	content: "\e602";
}
.icon-vimeo:before {
	content: "\e608";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-googleplus:before {
	content: "\e607";
}
.icon-pinterest:before {
	content: "\e610";
}
.icon-tumblr:before {
	content: "\e604";
}
.icon-linkedin:before {
	content: "\e605";
}
.icon-dribbble:before {
	content: "\e606";
}
.icon-stumbleupon:before {
	content: "\e60f";
}
.icon-lastfm:before {
	content: "\e603";
}
.icon-rdio:before {
	content: "\e60b";
}
.icon-spotify:before {
	content: "\e60a";
}
.icon-skype:before {
	content: "\e611";
}
.icon-soundcloud:before {
	content: "\e60c";
}
.icon-behance:before {
	content: "\e60e";
}
.icon-cog:before {
	content: "\e617";
}
.icon-home:before {
	content: "\e618";
}
.icon-tint:before {
	content: "\e619";
}
.icon-menu:before {
	content: "\e613";
}
.icon-youtube:before {
	content: "\e609";
}
.icon-instagram:before {
	content: "\e60d";
}
