/*********************
COLORS
*********************/

//gloabal styles
$black:						#000;
$white:						#fff;
$accent:					#382A3B;
$selectionColor:			#ffffff;

//header styles
$headerText:				#382A3B;
$headerTextHover:			lighten($headerText, 15%);
$textColor:					#382A3B;

//logo (text) styles
$logoColor:					#382A3B;
$logoShadow:				rgba(0, 36, 59, 0.5);

//album styles
$albumBackground:			#382A3B;
$albumButtonBackground:		#ffffff;
$albumButtonText:			#382A3B;
$albumType:					#605562;
$albumText:					#ffffff;
$albumTitle:				#ffffff;

//video styles
$videoSectionBackground:	#000000;

//social icon styles
$socialIconsColor:			#382A3B;
$socialIconsBackground:		none;

//footer styles
$footerBackground:			#1d2d38;
$footerText:				#382A3B;


/*********************
TYPOGRAPHY
*********************/
$opensans:		'Open Sans', sans-serif;
$montserrat:	'Montserrat', sans-serif;