/*********************
CLEARFIXIN'
*********************/
// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}


/*********************
TOOLS
*********************/
// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}


/*********************
TRANSITION
*********************/
@mixin transition($transition...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }

  transition: $transition;
}


/*********************
BOX SHADOW
*********************/
@mixin box-shadow( $xoffset: 0, $yoffset: 0, $spread: 0, $opacity: 0.25 ) {
  -moz-box-shadow: $xoffset $yoffset $spread rgba(0,0,0,$opacity);
  -webkit-box-shadow: $xoffset $yoffset $spread rgba(0,0,0,$opacity);
  -o-box-shadow: $xoffset $yoffset $spread rgba(0,0,0,$opacity);
  box-shadow: $xoffset $yoffset $spread rgba(0,0,0,$opacity);
}

/*********************
BORDER RADIUS
*********************/
@mixin border-radius( $tl, $tr, $br, $bl ) {
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  -o-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

/*********************
BORDER RADIUS - Even
*********************/
@mixin rounded( $size ) {
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
  -o-border-radius: $size;
  border-radius: $size;
}
